header {
    background-color: #72a375;
    padding: 1rem 0;
    text-align: center;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s, border-radius 0.3s;
}